﻿@{
    ViewBag.Title = "Busqueda";
}
<br><br>
<h2 class="reg-tit">Busqueda <span>(Solo uso interno)</span></h2>


<form data-x="x-validate" id="FormSearch" method="POST">
    @Html.AntiForgeryToken()
    <div class="acc-cnt">

        <div class="row mgbot-15">

            <div class="col-sm-6 col-md-6">
                <label for="dateInitial" class="lb100">Fecha Inicial:<span class="req-file">*</span></label>
                <input class="inputGrl validate[required]" type="date" name="dateInitial" id="dateInitial" value="2016-12-21" />
            </div>
            <div class="col-sm-6 col-md-6">
                <label for="dateEnd" class="lb100">Fecha Final:<span class="req-file">*</span></label>
                <input class="inputGrl validate[required]" type="date" name="dateEnd" id="dateEnd" value="2016-12-22"/>
            </div>
        </div>


        <br>
        <div class="row mgbot-15">
            <div class="col-xs-12 col-sm-6">
                <button type="submit" class="btn btn-blue col-xs-12 col-sm-6">Buscar</button>
            </div>
        </div>
    </div>
</form>