﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FORTIUS SOFTWARE</h1>
    <p class="lead">Registrate y accede a los servicios que te ofrece nuestra plataforma.</p>
    <p>
        <a href="@Url.Action("Simulator")" class="btn btn-primary btn-lg">Registro Exclusivo &raquo;</a>
        <a href="@Url.Action("FindByDate")" class="btn btn-primary btn-lg">Consulta Exclusiva &raquo;</a>
    </p>
    
</div>
