﻿@model IEnumerable<Domain.Entities.CreditFilter>

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<br><br>
<div class="container">
    <h2>Reporte - Simulador de Crédito</h2>
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Monto Proyectado</th>
            <th>Motivo Crédito</th>
            <th>Ver detalle</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Number</td>
                <td><a style="cursor: pointer; color: black" 
                       href="@Url.Action("ShowData", "Home", new {id = c.Id})">@c.Name</a></td>
                <td>@c.Date.ToString("yyyy-MM-dd")</td>
                <td>$@($"{c.Balance:N}")</td>
                <td>@c.CreditType</td>
                <td><a style="cursor: pointer">Detalle</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>


</body>
</html>
