﻿@model List<Domain.Entities.Credit>
@{
    double fee = 0, rate = 0, amortization = 0;
}
<!DOCTYPE html>
<html>

<body>

<br><br>
<div class="container">
    <h2>Resultados del Simulador de Crédito</h2>
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Cuota</th>
            <th>Interes</th>
            <th>Amortización</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var c in Model.AsReadOnly())
        {
            fee = c.Fee + fee;
            rate = c.Rate + rate;
            amortization = c.Amortization + amortization;

            <tr>
                <td>@c.NumberOfFee</td>
                <td>@($"{c.Fee:N}")</td>
                <td>@c.Rate</td>
                <td>@($"{c.Amortization:N}")</td>
                <td>@($"{c.Balance:N}")</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td>@($"{fee:N}")</td>
            <td>@($"{rate:N}")</td>
            <td>@($"{amortization:N}")</td>

        </tr>
        </tbody>
    </table>
</div>


</body>
</html>