﻿@model Domain.Entities.Simulator

<br><br>
<h2>Datos Principales - @Model.LastName @Model.Name</h2>

<p><strong>Fecha de Consulta:</strong> @Model.DateQuery.ToLongDateString()</p>
<p><strong>Capital Prestado:</strong> $@($"{Model.BorrowedCapital:N}")</p>
<p><strong>Numero de Cuotas:</strong> @Model.Fee</p>
<p><strong>Tasa de Interes: </strong>@Model.RateDecimal%</p>
<p><strong>Tipo de Crédito: </strong>@Model.CreditType</p>

