﻿@{
    ViewBag.Title = "Register";
}
<br><br>
<h2 class="reg-tit">Registro <span>(Solo uso interno)</span></h2>


<form data-x="x-validate" id="FormRegister" method="POST">
    @Html.AntiForgeryToken()
    <div class="acc-cnt">
        
        <div class="row mgbot-15">

            <div class="col-sm-6 col-md-6">
                <label for="Name" class="lb100">Nombre:<span class="req-file">*</span></label>
                <input class="inputGrl validate[required] onlyletter" name="Name" id="Name" value="Carlos" />
            </div>
            <div class="col-sm-6 col-md-6">
                <label for="LastName" class="lb100">Apellido:<span class="req-file">*</span></label>
                <input class="inputGrl validate[required] onlyletter" name="LastName" id="LastName" value="Carranza" />
            </div>
        </div>
        

        <div class="row mgbot-15">

            <div class="col-sm-6 col-md-6">
                <label for="BorrowedCapital" class="lb100">Capital prestado:<span class="req-file">*</span></label>
                <input class="inputGrl validate[required] onlynumber" name="BorrowedCapital" id="BorrowedCapital" value="1000"/>
            </div>
            <div class="col-sm-6 col-md-6">
                <label for="Fee" class="lb100">Cuotas:</label>
                <input class="inputGrl onlynumber" name="Fee" id="Fee" value="5"/>
            </div>
        </div>

        <div class="row mgbot-15">
            <div class="col-sm-6 col-md-6">
                <label for="Rate" class="lb100">Tasa de interes:<span class="req-file">*</span></label>
                <input class="inputGrl validate[required] onlynumber" name="Rate" id="Rate" value="4"/>
            </div>
            <div class="col-sm-4 col-md-4">
                <label class="lb100" for="CreditTypeId">Tipo de Crédito</label>
                <select name="CreditTypeId" data-x="x-kdropdown" 
                        class="validate[funcCall[XGeneral.dropdownlistvalidate]]" 
                        data-url="/Data/GetDataListValues/" id="CreditTypeId" ></select>
            </div>
        </div>
        <br>
        <div class="row mgbot-15">
            <div class="col-xs-12 col-sm-6">
                <button type="submit" class="btn btn-blue col-xs-12 col-sm-6">Registrar</button>
            </div>
        </div>
    </div>
</form>