/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
/* line 11, ../../sass/project/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, ../../sass/project/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../../sass/project/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 51, ../../sass/project/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../../sass/project/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, ../../sass/project/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../../sass/project/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../../sass/project/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 104, ../../sass/project/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../../sass/project/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../../sass/project/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 135, ../../sass/project/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../../sass/project/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../../sass/project/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../../sass/project/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 171, ../../sass/project/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../../sass/project/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 191, ../../sass/project/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../../sass/project/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 207, ../../sass/project/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../../sass/project/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 219, ../../sass/project/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../../sass/project/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../../sass/project/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../../sass/project/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../../sass/project/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../../sass/project/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 285, ../../sass/project/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 299, ../../sass/project/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 311, ../../sass/project/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 324, ../../sass/project/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 336, ../../sass/project/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 346, ../../sass/project/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../../sass/project/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 370, ../../sass/project/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 379, ../../sass/project/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../../sass/project/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../../sass/project/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../sass/general/_default.scss */
img {
  max-width: 100%;
}

/* line 5, ../../sass/general/_default.scss */
input[type="text"],
textarea,
select {
  background-color: #fff;
}

/* line 11, ../../sass/general/_default.scss */
textarea {
  resize: both;
  /* none|horizontal|vertical|both */
}
/* line 14, ../../sass/general/_default.scss */
textarea.vert {
  resize: vertical;
}
/* line 15, ../../sass/general/_default.scss */
textarea.noResize {
  resize: none;
}

/* line 18, ../../sass/general/_default.scss */
input[type="checkbox"], input[type="radio"] {
  position: relative;
  top: 2px;
  margin: auto;
  width: 20px;
  height: 20px;
}

/* line 25, ../../sass/general/_default.scss */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 31, ../../sass/general/_default.scss */
.padds {
  padding: 10px 30px;
  margin-bottom: 10px;
}

/*

html{
	overflow: auto;
	min-width: $wrapper;
	font-size: 16px;
	color: $textColor;
}

body{
	overflow: visible;
}

.wrapper{
	width: $wrapper;
	margin: auto;
}

*/
/* line 1, ../../sass/layout/_header.scss */
.inline {
  display: inline-block;
  vertical-align: top;
}

/* line 6, ../../sass/layout/_header.scss */
header {
  clear: both;
}
/* line 10, ../../sass/layout/_header.scss */
header .fond {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 18px;
  margin: 16px 0 0px 10px;
  color: #000;
}

/* line 20, ../../sass/layout/_header.scss */
img {
  width: auto;
  max-width: 100%;
  position: relative;
  height: auto;
}

/*Override bootstrap styles*/
/* line 27, ../../sass/layout/_header.scss */
.navbar {
  margin: 0;
}

/* line 31, ../../sass/layout/_header.scss */
.navbar-header {
  width: 100%;
  padding: 14px 0%;
}

/* line 37, ../../sass/layout/_header.scss */
.navbar-default {
  background: #fff;
  border: none;
}
/* line 43, ../../sass/layout/_header.scss */
.navbar-default .mini img {
  width: 150px;
  vertical-align: top;
}
/* line 49, ../../sass/layout/_header.scss */
.navbar-default .todos img {
  width: 104px;
}
/* line 54, ../../sass/layout/_header.scss */
.navbar-default .navbar-nav > li {
  padding: 0 30px 0 30px;
}
/* line 58, ../../sass/layout/_header.scss */
.navbar-default .navbar-nav > li > a {
  color: #203982;
  border-bottom: 1px solid #ccc;
  padding: 15px 0 15px 0;
}
/* line 64, ../../sass/layout/_header.scss */
.navbar-default .navbar-toggle {
  border: none;
  padding-top: 22px;
}
/* line 69, ../../sass/layout/_header.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: #ccc;
}
/* line 73, ../../sass/layout/_header.scss */
.navbar-default .navbar-toggle .icon-bar {
  background: #203982;
}
/* line 77, ../../sass/layout/_header.scss */
.navbar-default .navbar-brand {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
}

/* line 84, ../../sass/layout/_header.scss */
.navbar-right ~ .navbar-right {
  margin-right: -15px;
}

/* line 88, ../../sass/layout/_header.scss */
.navbar-collapse.collapse {
  display: none !important;
}

/* line 92, ../../sass/layout/_header.scss */
.navbar-collapse {
  padding-right: 50px;
}

/* line 96, ../../sass/layout/_header.scss */
.navbar-text {
  margin-top: 13px;
  margin-bottom: 0;
}

/*Site header styles*/
/* line 102, ../../sass/layout/_header.scss */
.brand-fna {
  height: 100px;
}
/* line 104, ../../sass/layout/_header.scss */
.brand-fna img {
  width: 78px;
}
/* line 108, ../../sass/layout/_header.scss */
.brand-fna li {
  display: inline-block;
  list-style: none;
  padding: 30px 0 0 20px;
}
/* line 113, ../../sass/layout/_header.scss */
.brand-fna li a, .brand-fna li a:hover, .brand-fna li a:focus {
  font-size: 20px;
  color: #555f72;
  padding: 1.5em 3px 0 3px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}
/* line 122, ../../sass/layout/_header.scss */
.brand-fna li.active a {
  border-bottom: 3px solid #3c67de;
}

/* line 127, ../../sass/layout/_header.scss */
.dt-log {
  font-size: 0.7em;
}

/* line 131, ../../sass/layout/_header.scss */
#navGralx {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100% !important;
  z-index: 1000;
  padding: 0;
  background: #fff;
  padding: 10px;
}

/* line 142, ../../sass/layout/_header.scss */
.bluebar {
  background: #3c67de;
  height: 80px;
  color: #fff;
}
/* line 148, ../../sass/layout/_header.scss */
.bluebar .tit-page {
  font-size: 34px;
  display: block;
  position: relative;
  line-height: 80px;
}
/* line 155, ../../sass/layout/_header.scss */
.bluebar .cod-solicitud {
  font-size: 14px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  line-height: normal;
  padding-right: 15px;
}

/* line 165, ../../sass/layout/_header.scss */
.btn-logoff {
  margin: 0 auto;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px transparent;
  font-size: 18px;
  width: 28px;
  height: 28px;
  padding: 0px;
  text-align: center;
  transition: .3s;
  margin-left: 4px;
}
/* line 178, ../../sass/layout/_header.scss */
.btn-logoff:hover {
  box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.6);
}

/* line 182, ../../sass/layout/_header.scss */
.fullnames {
  display: inline-block;
}

/* line 185, ../../sass/layout/_header.scss */
.identify {
  min-height: 80px;
  min-width: 400px;
  text-align: left;
}

/* line 191, ../../sass/layout/_header.scss */
.det-but {
  margin-top: 5px;
}

/*.fel-tit {
    margin: 26px 0 auto 15px;
    float: left;
    position: relative;
    font-weight: 600;
    min-height: 70px;
}

.fna-tit {
    color: #000;
}

.dt-log {
    display: block;
    font-weight: bold;
    color: #999999;
    font-size: 0.5em;
    float: left;
    margin-top: 20px;
    margin-left: 20px;

    .label-log {
        text-align: right;
        float: left;
        width: 50px;
    }

    .value-log {
        text-align: left;
        float: right;
        width: 100px;
        margin-left: 10px;
    }
}

.brand-fna {
    width: 100px;
    margin: 10px;
    a img {
        width: 95px;
        height: 84px;
        min-width: 70px;
    }
}

.brand-gobierno {
    display: block;
    float: right;
}*/
/*header {
    padding-top: 15px;
}*/
/*.navbar-header {
    float: right;
    margin-top: 10px;
}*/
/*.navbar-toggle {

    .icon-bar {
        background: #203982;
    }
}*/
/*menu mobile*/
/*#navGral {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 100%;
    z-index: 1000;
    padding: 0;
    background: #fff;

    @include box-shadow(0px 2px 21px 0 rgba(0,0,0,0.3));
}

.grt-usr {
    padding: 40px 20px 20px 20px;
    background-color: #EFEFEF;
    border-top: 2px solid #B7D433;
    background: -moz-linear-gradient(-45deg, rgba(245,246,246,0.7) 0%, rgba(219,220,226,0.7) 21%, rgba(255,255,255,0.7) 49%, rgba(221,223,227,0.7) 80%, rgba(245,246,246,0.7) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(245,246,246,0.7)), color-stop(21%,rgba(219,220,226,0.7)), color-stop(49%,rgba(255,255,255,0.7)), color-stop(80%,rgba(221,223,227,0.7)), color-stop(100%,rgba(245,246,246,0.7)));
    background: -webkit-linear-gradient(-45deg, rgba(245,246,246,0.7) 0%,rgba(219,220,226,0.7) 21%,rgba(255,255,255,0.7) 49%,rgba(221,223,227,0.7) 80%,rgba(245,246,246,0.7) 100%);
    background: -o-linear-gradient(-45deg, rgba(245,246,246,0.7) 0%,rgba(219,220,226,0.7) 21%,rgba(255,255,255,0.7) 49%,rgba(221,223,227,0.7) 80%,rgba(245,246,246,0.7) 100%);
    background: -ms-linear-gradient(-45deg, rgba(245,246,246,0.7) 0%,rgba(219,220,226,0.7) 21%,rgba(255,255,255,0.7) 49%,rgba(221,223,227,0.7) 80%,rgba(245,246,246,0.7) 100%);
    background: linear-gradient(135deg, rgba(245,246,246,0.7) 0%,rgba(219,220,226,0.7) 21%,rgba(255,255,255,0.7) 49%,rgba(221,223,227,0.7) 80%,rgba(245,246,246,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3f5f6f6', endColorstr='#b3f5f6f6',GradientType=1 );
}

.ic-navdp {
    display: block;
    margin: 12px;
}

.wcm {
    font-size: 1.2em;
}

.usrName {
    font-size: 1.5em;
}


.ulnavmb {
    padding: 40px 10px 0 10px;

    li {
        border-bottom: 1px solid #EEEEEE;
        padding: 5px 0;

        .a-nav-mb {
            padding: 0;
            display: inline-block;
            color: #333;
        }
    }
}

.x-cls {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2.2em;
    font-weight: 100;
    color: #000;
    z-index: 100;
}


.greenbar {
    background: #B8D900;
    min-height: 40px;
}

.bluebar {
    background: #3c67de;
    min-height: 40px;
    color: #fff;
}

.ul-bcms {
    margin: 0;
    padding: 0;

    li {
        display: block;
        float: left;
        padding: 10px;
        min-width: 250px;
        list-style-type: none;

        a {
            display: block;
            color: #fff;
            padding: 6px;
        }


        .fst-bc {
            background: url('../../Images/ic-bcm.png') center left no-repeat;
            padding-left: 40px;
        }
    }

    .credit-type {
        display: none;
    }

    .bg-li {
        background: url('../../Images/arr-rj.png') center left no-repeat;
    }

    .cnt-lgt {
        display: block;
        float: right;
        text-align: right;
        padding-right: 0;
        min-width: 190px;
    }
}

.btn-support {
    position: fixed !important;
    top: 30% !important;
    left: 0 !important;
    width: 40px !important;
    height: 135px !important;
    background: url('../../Images/support-blue.png') center top no-repeat;
}

.btn-support:active {
    position: fixed;
    top: 30%;
    left: 0;
    width: 40px;
    height: 135px !important;
    background: url('../../Images/support-blue.png') center top no-repeat !important;
}

.btn-support:focus {
    outline: none;
}

.navbar {
    margin: 0;
    padding-bottom: 20px;
}*/
/* request process items*/
/*.cnt-tb {
    position: inherit;
}*/
/* request process items*/
/* line 2, ../../sass/layout/_footer.scss */
.fts {
  display: inline-block;
}

/* line 5, ../../sass/layout/_footer.scss */
.line1, .line2 {
  text-align: center;
}

/* line 10, ../../sass/layout/_footer.scss */
.line1 a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 16%;
  padding: 10px 0;
}

/* line 18, ../../sass/layout/_footer.scss */
.line2 a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 12%;
  padding: 10px;
}

/* line 25, ../../sass/layout/_footer.scss */
.addr-foot {
  color: #646464;
  font-size: 0.8em;
  margin: auto;
  text-align: center;
}

/* line 32, ../../sass/layout/_footer.scss */
.ft-brow {
  background: #ccc;
  bottom: 0;
  float: left;
  position: relative;
  clear: both;
  height: 100%;
  margin: 0;
  width: 100%;
}
/* line 42, ../../sass/layout/_footer.scss */
.ft-brow .inf-brs {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 40%;
}
/* line 47, ../../sass/layout/_footer.scss */
.ft-brow .fr-rec {
  font-size: 11px;
  color: #2a2a2a;
  text-align: right;
  line-height: 1em;
  font-weight: bold;
  padding-top: 10px;
}
/* line 55, ../../sass/layout/_footer.scss */
.ft-brow .fr-rec .fs-it {
  font-style: italic;
  color: #003993;
}
/* line 62, ../../sass/layout/_footer.scss */
.ft-brow .ul-brs {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 58%;
  margin: 0;
  margin-top: 5px;
}
/* line 70, ../../sass/layout/_footer.scss */
.ft-brow .ul-brs li {
  list-style: none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  min-width: 90px;
  min-height: 40px;
  border-left: 1px solid #b5b5b5;
}
/* line 80, ../../sass/layout/_footer.scss */
.ft-brow .ul-brs li a {
  display: block;
  width: 100%;
  line-height: 1em;
  padding-top: 10px;
  color: #7d7d7d;
  padding-left: 35px;
  font-size: 0.8em;
  cursor: pointer;
}
/* line 91, ../../sass/layout/_footer.scss */
.ft-brow .ic01 {
  background: url("../../Images/chrome-ic.png") 10% 70% no-repeat;
}
/* line 95, ../../sass/layout/_footer.scss */
.ft-brow .ic02 {
  background: url("../../Images/ffox-ic.png") 10% 70% no-repeat;
}
/* line 99, ../../sass/layout/_footer.scss */
.ft-brow .ic03 {
  background: url("../../Images/opera-ic.png") 10% 70% no-repeat;
}
/* line 103, ../../sass/layout/_footer.scss */
.ft-brow .ic04 {
  background: url("../../Images/safari-ic.png") 10% 70% no-repeat;
}
/* line 107, ../../sass/layout/_footer.scss */
.ft-brow .ic05 {
  background: url("../../Images/explorer-ic.png") 10% 70% no-repeat;
}

/* line 113, ../../sass/layout/_footer.scss */
footer {
  clear: both;
  width: 100%;
  margin: 0px auto auto;
  padding: 65px 0px 20px 0;
  position: relative;
}
/* line 122, ../../sass/layout/_footer.scss */
footer .copy p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4em;
}
/* line 127, ../../sass/layout/_footer.scss */
footer .copy .links-fast-footer {
  list-style: none;
  font-size: 16px;
  padding: 0px;
}
/* line 132, ../../sass/layout/_footer.scss */
footer .copy .dfwp-item {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
}
/* line 139, ../../sass/layout/_footer.scss */
footer .container {
  margin: auto;
  /*div {
      img{
          max-width: 150px;
      }
  }*/
}
/* line 143, ../../sass/layout/_footer.scss */
footer .container h3 {
  font-size: 17px;
  font-weight: 600;
  color: #000;
}
/* line 149, ../../sass/layout/_footer.scss */
footer .container p {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
}
/* line 155, ../../sass/layout/_footer.scss */
footer .container strong {
  font-weight: 600;
}
/* line 166, ../../sass/layout/_footer.scss */
footer .super {
  float: left;
  position: relative;
  font-size: 0.5em;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -80px;
}
/* line 173, ../../sass/layout/_footer.scss */
footer .super div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 10px 0 10px;
}
/* line 178, ../../sass/layout/_footer.scss */
footer .super div.vig {
  font-size: 0.9em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2px;
  margin-right: 0.2em;
  font-weight: 600;
}
/* line 187, ../../sass/layout/_footer.scss */
footer .super div.entity {
  text-align: center;
  font-size: 0.8em;
}

/* line 195, ../../sass/layout/_footer.scss */
.legal:before {
  content: '';
  background: url("../../Images/logo-vigilado.svg") center 50% no-repeat;
  position: absolute;
  width: 20px;
  height: 300px;
  left: -1%;
}

/* line 204, ../../sass/layout/_footer.scss */
.ics-calidad {
  max-width: inherit !important;
}

/* line 208, ../../sass/layout/_footer.scss */
a.dowload-app {
  width: 140px;
  height: 45px;
  background: #283a85;
  display: inline-block;
  margin: 10px 11px;
  vertical-align: top;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}
/* line 219, ../../sass/layout/_footer.scss */
a.dowload-app span {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
/* line 226, ../../sass/layout/_footer.scss */
a.dowload-app img {
  width: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

/* line 233, ../../sass/layout/_footer.scss */
a.dowload-app {
  margin: 10px 15px 10px 0;
  padding: 10px 12px;
  transition: .3s;
}

/* line 240, ../../sass/layout/_footer.scss */
.hover-second-1:hover {
  background: #0f2891;
}

/* line 247, ../../sass/layout/_footer.scss */
.copy a {
  color: #686868;
  font-size: 12px;
  line-height: normal;
}
/* line 252, ../../sass/layout/_footer.scss */
.copy .txt-rj {
  text-align: center;
}

/* line 5, ../../sass/layout/_layout.scss */
.has-feedback .form-control {
  padding-right: 0px;
}

/* line 8, ../../sass/layout/_layout.scss */
.btn, .btn-vm-docs, .k-button {
  transition: .3s;
}

/* line 15, ../../sass/layout/_layout.scss */
.menos {
  margin: -100px auto;
}

/* line 19, ../../sass/layout/_layout.scss */
.mens a {
  color: #000 !important;
}

/* line 23, ../../sass/layout/_layout.scss */
.red {
  color: #b00000;
}

/* line 27, ../../sass/layout/_layout.scss */
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 0px solid transparent;
}

/* line 32, ../../sass/layout/_layout.scss */
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 0px solid transparent;
}

/* line 37, ../../sass/layout/_layout.scss */
.end {
  font-size: 36px;
  color: #283a85;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

/* line 44, ../../sass/layout/_layout.scss */
.text-end {
  font-size: 18px;
  color: #4e4e4e;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 49, ../../sass/layout/_layout.scss */
.has-feedback label ~ .form-control-feedback {
  top: 50%;
}

/* line 52, ../../sass/layout/_layout.scss */
.container {
  position: relative;
}

/* line 55, ../../sass/layout/_layout.scss */
.glyphicon-ok:before {
  content: url(../../../Images/theme/icons/valid.png);
}

/* line 59, ../../sass/layout/_layout.scss */
.glyphicon-remove:before {
  content: url(../../../Images/theme/icons/error.png);
}

/* line 62, ../../sass/layout/_layout.scss */
.btnsi {
  padding: 2% 0;
}

/* line 65, ../../sass/layout/_layout.scss */
.form-control-feedback {
  position: absolute;
  top: 9px;
  right: 24px;
  z-index: 1;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

/* line 77, ../../sass/layout/_layout.scss */
.dropdown-menu > .active > a, .dropdown-menu > .selected > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .selected > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu > .selected > a:focus {
  background-color: #F9F9F9;
  color: #3c67de;
  border-left: solid 3px;
  padding: 14px 20px;
  background-image: none;
  font-size: 18px;
  filter: none;
}

/* line 87, ../../sass/layout/_layout.scss */
.help-block {
  display: none !important;
}

/* line 91, ../../sass/layout/_layout.scss */
.padds {
  padding: 10px 0px 10px 20px !important;
  margin-bottom: 10px !important;
}

/* line 95, ../../sass/layout/_layout.scss */
.form-control {
  -webkit-box-shadow: inset 0 0px 0px transparent;
  box-shadow: inset 0 0px 0px transparent;
}

/* line 103, ../../sass/layout/_layout.scss */
.hover-second-2:hover {
  background: #5683ff;
}

/* line 108, ../../sass/layout/_layout.scss */
.hiddens {
  display: none;
}

/* line 111, ../../sass/layout/_layout.scss */
img {
  width: auto;
  max-width: 100%;
  position: relative;
  height: auto;
}

/* line 117, ../../sass/layout/_layout.scss */
.form-control:focus {
  border-color: #c7c7cb;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
  box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
}

/* line 123, ../../sass/layout/_layout.scss */
.inline {
  display: inline-block;
  vertical-align: top;
}

/* line 128, ../../sass/layout/_layout.scss */
body {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  min-width: 300px;
}

/* line 135, ../../sass/layout/_layout.scss */
body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* line 141, ../../sass/layout/_layout.scss */
h1 {
  font-size: 90px;
  color: #3d63cc;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

/* line 150, ../../sass/layout/_layout.scss */
h2 {
  font-size: 33px;
  color: #3c67de;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

/* line 159, ../../sass/layout/_layout.scss */
h3 {
  font-size: 34px;
  color: #283a85;
  margin-top: 10px;
  margin-bottom: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

/* line 167, ../../sass/layout/_layout.scss */
.desc-err {
  color: #3c67de;
  font-size: 16px;
  padding-bottom: 2%;
}

/* line 172, ../../sass/layout/_layout.scss */
.boton-err {
  width: 40%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 6%;
}
/* line 178, ../../sass/layout/_layout.scss */
.boton-err a {
  display: block;
}

/* line 183, ../../sass/layout/_layout.scss */
.important {
  font-size: 36px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

/* line 195, ../../sass/layout/_layout.scss */
.subtitle, .sct-tit-md {
  font-size: 22px;
  color: #3c67de;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

/* line 205, ../../sass/layout/_layout.scss */
.product {
  font-size: 24px;
  color: #545454;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

/* line 215, ../../sass/layout/_layout.scss */
.subtitle-paragraph {
  font-size: 26px;
  color: #3050b0;
  margin: 2em 0;
}

/* line 221, ../../sass/layout/_layout.scss */
.paragraph {
  font-size: 20px;
  color: #4e4e4e;
}

/* line 226, ../../sass/layout/_layout.scss */
.sub-paragraph {
  font-size: 18px;
  color: #4e4e4e;
}

/* line 232, ../../sass/layout/_layout.scss */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* line 237, ../../sass/layout/_layout.scss */
.w-btn-cl {
  width: 250px;
}

/* line 241, ../../sass/layout/_layout.scss */
form label {
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5e5b68;
  font-size: 18px;
  line-height: 1em;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

/* line 252, ../../sass/layout/_layout.scss */
label[for] {
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5e5b68;
  font-size: 18px;
  line-height: 1em;
  display: inline-block;
  max-width: 100%;
  margin: 10px 0 0px 0;
}

/* line 263, ../../sass/layout/_layout.scss */
textarea {
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #c7c7cb;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

/* label symbol*/
/* line 275, ../../sass/layout/_layout.scss */
.symbol.required:before {
  content: "*";
  display: inline;
  color: #E6674A;
}

/* line 281, ../../sass/layout/_layout.scss */
.symbol.ok:before {
  content: "\f00c";
  display: inline;
  font-family: FontAwesome;
  color: #468847;
}

/* label symbol*/
/* line 290, ../../sass/layout/_layout.scss */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: inherit;
}

/* line 294, ../../sass/layout/_layout.scss */
.lab-frm {
  text-align: left;
  font-weight: normal;
  color: #5e5b68;
  font-size: 18px;
  line-height: 1em;
}

/* line 302, ../../sass/layout/_layout.scss */
.lab-chk {
  display: block;
  cursor: pointer;
}

/* line 307, ../../sass/layout/_layout.scss */
.lb100 {
  width: 100%;
}

/* line 312, ../../sass/layout/_layout.scss */
.btn, .btn-vm-docs, .k-button {
  height: auto;
  padding: 20px 36px;
  max-width: 100%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  margin-bottom: 30px;
  font-family: "Source Sans Pro",sans-serif;
  text-decoration: none;
}

/* line 323, ../../sass/layout/_layout.scss */
.btn:focus, .btn-vm-docs:focus, .k-button:focus {
  outline: none;
}

/* line 327, ../../sass/layout/_layout.scss */
.btn:active, .btn-vm-docs:active, .k-button:active {
  background: #4f78e9;
  color: #c3cff6;
}

/* line 332, ../../sass/layout/_layout.scss */
.clear {
  clear: both;
}

/* line 336, ../../sass/layout/_layout.scss */
.txt-cent {
  text-align: center;
}

/* line 340, ../../sass/layout/_layout.scss */
.txt-rj {
  text-align: right;
  padding-top: 4px;
  line-height: 20px;
}

/* line 346, ../../sass/layout/_layout.scss */
.txt-lf {
  text-align: left;
}

/* line 350, ../../sass/layout/_layout.scss */
.dp-block {
  display: block;
}

/* line 354, ../../sass/layout/_layout.scss */
.dp-inlb {
  display: inline-block;
}

/* line 358, ../../sass/layout/_layout.scss */
.dp-none {
  display: none;
}

/*.gral-cont {
    min-height: 100%;
    padding-bottom: 205px;
}*/
/* line 367, ../../sass/layout/_layout.scss */
.pdtop-20 {
  padding-top: 20px;
}

/* line 371, ../../sass/layout/_layout.scss */
.pdtop-50 {
  padding-top: 50px;
}

/* line 375, ../../sass/layout/_layout.scss */
.mgtop-10 {
  margin-top: 10px;
}

/* line 379, ../../sass/layout/_layout.scss */
.mgtop-20 {
  margin-top: 20px;
}

/* line 383, ../../sass/layout/_layout.scss */
.mg20-0 {
  margin: 20px 0;
}

/* line 387, ../../sass/layout/_layout.scss */
.mgtop-50 {
  margin-top: 50px;
}

/* line 391, ../../sass/layout/_layout.scss */
.mgbot-15 {
  margin-bottom: 15px;
}

/* line 395, ../../sass/layout/_layout.scss */
.mgbot-5 {
  margin-bottom: 12px;
}

/* line 399, ../../sass/layout/_layout.scss */
.pd-lf0 {
  padding-left: 0;
}

/* line 402, ../../sass/layout/_layout.scss */
.padd2 {
  padding-top: 2%;
}

/* line 405, ../../sass/layout/_layout.scss */
.head-md-sup {
  padding: 20px 30px;
  background: #3c67de;
}

/* line 410, ../../sass/layout/_layout.scss */
.ic-sptit {
  font-size: 3em;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 15%;
}

/* line 417, ../../sass/layout/_layout.scss */
.sp-tit {
  font-size: 1.3em;
  text-align: justify;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 84%;
  color: #fff;
}

/* line 425, ../../sass/layout/_layout.scss */
.close {
  float: right;
  top: 20px;
  right: 20px;
  position: relative;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  color: #203982;
  opacity: 1;
  text-shadow: none;
  z-index: 1;
}

/* line 438, ../../sass/layout/_layout.scss */
.files {
  top: 0;
  color: #fff;
}

/* line 442, ../../sass/layout/_layout.scss */
.tabs-md-sup {
  border: none;
  background: #ebebeb;
}
/* line 447, ../../sass/layout/_layout.scss */
.tabs-md-sup li {
  width: 47%;
  height: 35px;
}
/* line 451, ../../sass/layout/_layout.scss */
.tabs-md-sup li a {
  font-size: 1em;
  text-align: center;
  color: #333;
  padding: 7px 0 5px 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #ebebeb;
}
/* line 461, ../../sass/layout/_layout.scss */
.tabs-md-sup li.close-mdl {
  width: 6%;
  border-left: 1px solid #DCDBDB;
  text-align: center;
}
/* line 466, ../../sass/layout/_layout.scss */
.tabs-md-sup li.close-mdl a {
  display: block;
  width: 90%;
  margin: auto;
}
/* line 471, ../../sass/layout/_layout.scss */
.tabs-md-sup li.close-mdl a i {
  font-size: 1em;
}

/* line 478, ../../sass/layout/_layout.scss */
.x-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10000;
}

/* line 485, ../../sass/layout/_layout.scss */
.modal-content {
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
}

/* line 491, ../../sass/layout/_layout.scss */
.modal-backdrop.in {
  opacity: 0.7;
}

/* line 495, ../../sass/layout/_layout.scss */
.modal.fade.in {
  padding-right: 0 !important;
}

/* line 499, ../../sass/layout/_layout.scss */
.navbar-toggle {
  margin: 5px;
}

/* line 503, ../../sass/layout/_layout.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #DCDBDB;
  border: none;
  padding-bottom: 7px;
}

/* line 509, ../../sass/layout/_layout.scss */
.cnt-md-sup {
  padding: 50px;
}

/* line 513, ../../sass/layout/_layout.scss */
.tt-frm-sp {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 1.2em;
}

/* line 519, ../../sass/layout/_layout.scss */
.lab-sp-mod {
  width: 35%;
}

/* line 523, ../../sass/layout/_layout.scss */
.inp-sp-mod {
  border: 2px solid #f5f5f5;
  height: 40px;
  padding: 0 20px;
  margin-bottom: 10px;
  width: 60%;
}

/* line 532, ../../sass/layout/_layout.scss */
.txt-sp-mod {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 60%;
  min-width: 60%;
  max-width: 60%;
  min-height: 200px;
  max-height: 200px;
  height: 200px;
  border: 2px solid #f5f5f5;
  padding: 20px;
  margin-bottom: 10px;
}

/* line 546, ../../sass/layout/_layout.scss */
.inp-sp-mod:focus, .txt-sp-mod:focus {
  border-color: #003993;
  outline: none;
}

/* line 552, ../../sass/layout/_layout.scss */
.btn-lgt {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #fff;
  width: 160px;
  color: #686868;
  text-align: center;
  margin-bottom: 0;
  height: 100%;
  line-height: 100%;
}

/* line 563, ../../sass/layout/_layout.scss */
.ic-cls {
  color: #fff;
  vertical-align: middle;
  width: 16%;
  max-width: 90px;
  padding-right: 15%;
  font-size: 17px;
}

/* line 572, ../../sass/layout/_layout.scss */
.ic-nav-mb {
  margin: 0 10px 0 5px;
  width: 22px;
}

/* line 578, ../../sass/layout/_layout.scss */
.mod-btns {
  text-align: center;
  padding: 20px 0 0 0;
}

/* line 583, ../../sass/layout/_layout.scss */
.btn, .btn-vm-docs, .k-button {
  font-size: 18px;
}

/* line 586, ../../sass/layout/_layout.scss */
.btn-gray {
  background: #c1c1c1;
  color: #fff;
  border-color: #c1c1c1;
  margin: 20px 0;
}

/* line 593, ../../sass/layout/_layout.scss */
.btn-gray:hover {
  text-decoration: none;
  color: #fff;
  background: #686868;
}

/* line 599, ../../sass/layout/_layout.scss */
.btn-green {
  background: #B8D900;
  color: #fff;
  border-color: #B8D900;
  margin: 20px 0;
}

/* line 606, ../../sass/layout/_layout.scss */
.btn-green:hover {
  text-decoration: none;
  color: #fff;
  background: #8DA600;
}

/* line 612, ../../sass/layout/_layout.scss */
.btn-next {
  background: url("/Images/go.png") no-repeat 90% 50% #3c67de !important;
  transition: .3s;
}
/* line 616, ../../sass/layout/_layout.scss */
.btn-next:hover {
  background: url("/Images/go.png") no-repeat 90% 50% #5683ff !important;
}

/* line 621, ../../sass/layout/_layout.scss */
.btn-back {
  background: url("/Images/back.png") no-repeat 10% 50% #283a85 !important;
}

/* line 625, ../../sass/layout/_layout.scss */
.btn-blue, .bnt-blue-err, .k-button {
  background: #3c67de;
  color: #ffffff;
  font-size: 18px;
}

/* line 631, ../../sass/layout/_layout.scss */
a.btn-blue, a.bnt-blue-err, a.k-button {
  /* padding: 15px;*/
}

/* line 635, ../../sass/layout/_layout.scss */
.btn-blue:hover, .bnt-blue-err:hover, .k-button:hover, .k-button:focus, .k-state-focused,
.k-button:focus:not(.k-state-disabled):not([disabled]),
.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  text-decoration: none;
  color: #fff;
  background: #5683ff;
}

/* line 641, ../../sass/layout/_layout.scss */
.btn-blue:active, .bnt-blue-err:active, .bnt-blue-err:focus, .k-button:active, .k-button.active, .k-widget .k-button:active,
.k-widget .k-button.k-state-active,
.k-widget .k-button:active:hover,
.k-widget .k-button.k-state-active:hover, .btn-blue:focus, .bnt-blue-err:focus, .k-button:focus {
  text-decoration: none;
  background: #4f78e9;
  color: #c3cff6;
}

/* line 649, ../../sass/layout/_layout.scss */
.btn-blue-opc, .btn-vm-docs {
  color: #ffffff;
  background: #283a85;
}

/* line 658, ../../sass/layout/_layout.scss */
.btn-blue-opc:hover, .btn-vm-docs:hover {
  text-decoration: none;
  color: #fff;
  background: #0f2891;
}

/* line 664, ../../sass/layout/_layout.scss */
.btn-blue-opc:active, .btn-vm-docs:active, .btn-blue-opc:focus, .btn-vm-docs:focus {
  text-decoration: none;
  background: #1531aa;
  color: #c3cff6;
}

/* line 671, ../../sass/layout/_layout.scss */
.btn-updt {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0;
  padding: .8em 0;
  background-color: transparent;
  position: relative;
}

/* line 680, ../../sass/layout/_layout.scss */
.btn-vm-docs {
  color: #fff;
}

/* line 690, ../../sass/layout/_layout.scss */
.bnt-blue-err .rjt-ic {
  padding-right: 15px;
}

/* line 704, ../../sass/layout/_layout.scss */
.btn-clasic {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #F3F3F3;
  color: #333;
  margin: 20px 0;
  white-space: inherit;
  line-height: 1em;
  text-indent: -15px;
  padding-left: 45px;
}

/* line 717, ../../sass/layout/_layout.scss */
.btn-clasic.blue90:hover {
  background: rgba(0, 56, 134, 0.9);
  color: #fff;
}

/* line 722, ../../sass/layout/_layout.scss */
.btn-clasic.blue85:hover {
  background: rgba(0, 56, 134, 0.85);
  color: #fff;
}

/* line 727, ../../sass/layout/_layout.scss */
.btn-clasic.blue80:hover {
  background: rgba(0, 56, 134, 0.8);
  color: #fff;
}

/* line 732, ../../sass/layout/_layout.scss */
.w150 {
  width: 150px;
}

/* line 736, ../../sass/layout/_layout.scss */
.w100p {
  width: 100%;
}

/* line 740, ../../sass/layout/_layout.scss */
.w80p {
  width: 80%;
}

/* line 744, ../../sass/layout/_layout.scss */
.w49p {
  width: 49%;
}

/* line 748, ../../sass/layout/_layout.scss */
.mg-0 {
  margin: 0;
}

/* line 752, ../../sass/layout/_layout.scss */
.mg-rj10 {
  margin-right: 10px;
}

/* line 756, ../../sass/layout/_layout.scss */
.pd-0 {
  padding: 0;
}

/* line 760, ../../sass/layout/_layout.scss */
input {
  font-size: 0.9em;
}

/* line 765, ../../sass/layout/_layout.scss */
.inputGrl {
  margin: 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 48px;
  padding: 10px 0px 10px 20px;
  width: 100%;
  border: 1px solid #c7c7cb;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* line 777, ../../sass/layout/_layout.scss */
.inputGrl:focus {
  outline: none;
}

/* line 781, ../../sass/layout/_layout.scss */
.inputBlk {
  width: 100%;
  border: 2px solid #f5f5f5;
  padding: 8px;
  margin: 0 0 5px 0;
  color: #686868;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 792, ../../sass/layout/_layout.scss */
.k-dropdown {
  display: block;
  width: 100%;
  position: relative;
  font-size: 18px;
  line-height: 1em;
  background-color: #fff !important;
}
/* line 800, ../../sass/layout/_layout.scss */
.k-dropdown .k-input {
  font-size: 18px;
  color: #3c67de !important;
}
/* line 805, ../../sass/layout/_layout.scss */
.k-dropdown .k-state-default {
  padding: 3px 35px 3px 20px;
  margin: 0 0 5px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #c7c7cb;
  color: #3c67de !important;
  background-color: #fff !important;
}

/* line 815, ../../sass/layout/_layout.scss */
.k-dropdown-wrap.k-state-hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
/* line 819, ../../sass/layout/_layout.scss */
.k-dropdown-wrap.k-state-hover .k-input {
  font-size: 18px;
  color: #3c67de !important;
  margin: 0;
}

/* line 826, ../../sass/layout/_layout.scss */
.k-dropdown-wrap.k-state-focused {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
/* line 830, ../../sass/layout/_layout.scss */
.k-dropdown-wrap.k-state-focused .k-input {
  font-size: 18px;
  color: #3c67de !important;
  margin: 0;
}

/* line 838, ../../sass/layout/_layout.scss */
.k-dropdown-wrap.k-state-active .k-i-arrow-s:before {
  content: "\e260";
}

/* line 843, ../../sass/layout/_layout.scss */
.k-select .k-icon.k-i-arrow-s {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  background-image: none;
  display: block;
  position: relative;
  width: 15px;
  height: 20px;
  font-size: 0.8em;
  vertical-align: middle;
  margin: auto 0;
  padding-top: 48%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 861, ../../sass/layout/_layout.scss */
.k-window-action .k-icon.k-i-close {
  color: blue;
}

/* line 865, ../../sass/layout/_layout.scss */
.k-i-arrow-s:before {
  content: "\e259";
}

/*test green hover*/
/*.k-dropdown.drp-grn .k-state-default {
    border: 2px solid #e0e0e0;
    padding-top: 3px;
}

.k-dropdown.drp-grn .k-state-default .k-input {
    font-size: 1em;
    padding-top: 4px;
    color: #5e5f5f;
    font-stretch: inherit;
}

.k-dropdown.drp-grn .k-state-default .k-input h5 {
    text-align: left;
    margin: 0 !important;
    font-size: 1em;
    padding-top: 5px;
}

.k-dropdown.drp-grn .k-state-default .k-input h5 i {
    display: none;
}
*/
/* line 898, ../../sass/layout/_layout.scss */
.k-list.k-reset li {
  padding: 10px 40px !important;
  width: 100% !important;
  list-style: none !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
  color: #646464 !important;
  vertical-align: middle;
}

/* line 908, ../../sass/layout/_layout.scss */
.k-list.k-reset li:hover {
  background: #ebebeb;
}

/* line 915, ../../sass/layout/_layout.scss */
.k-list.k-reset li:active, .k-list.k-reset li.k-state-selected {
  border-top: 1px solid #c7c7cb !important;
  border-right: 1px solid #c7c7cb !important;
  border-left: 4px solid #3c67de !important;
  margin-left: 0 !important;
}

/* line 923, ../../sass/layout/_layout.scss */
.k-popup.k-list-container {
  border: 1px solid #c7c7cb !important;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 !important;
}
/* line 15, ../../sass/project/_mixin.scss */
.k-popup.k-list-container ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* line 20, ../../sass/project/_mixin.scss */
.k-popup.k-list-container ::-webkit-scrollbar-thumb {
  background: #000;
}
/* line 24, ../../sass/project/_mixin.scss */
.k-popup.k-list-container ::-webkit-scrollbar-track {
  background: gray;
}
/* line 29, ../../sass/project/_mixin.scss */
.k-popup.k-list-container body {
  scrollbar-face-color: #000;
  scrollbar-track-color: gray;
}

/* line 931, ../../sass/layout/_layout.scss */
.k-popup.k-list-container ul {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 936, ../../sass/layout/_layout.scss */
.k-popup .k-list .k-item, .k-fieldselector .k-list .k-item {
  line-height: 1em;
}

/* line 940, ../../sass/layout/_layout.scss */
.title-seccs {
  margin: 0;
}

/*test green hover */
/* line 949, ../../sass/layout/_layout.scss */
.pstFxPan {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f6f6;
  z-index: 1000;
  padding: 0;
}

/* line 960, ../../sass/layout/_layout.scss */
.pst-rel {
  position: relative;
}

/* line 964, ../../sass/layout/_layout.scss */
.x-cls {
  float: right;
  font-size: 30px;
  color: #203982 !important;
  width: auto !important;
}

/* line 972, ../../sass/layout/_layout.scss */
.g-col {
  color: #B8D900;
}

/* line 976, ../../sass/layout/_layout.scss */
.blue-fna {
  color: #003993 !important;
}

/* line 980, ../../sass/layout/_layout.scss */
.req-file {
  color: red;
  font-weight: bold;
  font-size: 1em;
  margin-left: 5px;
  display: none;
}

/* line 988, ../../sass/layout/_layout.scss */
.req-file:before {
  display: inline;
  color: #E6674A;
}

/* line 993, ../../sass/layout/_layout.scss */
.ic-nxt {
  font-size: 1.4em;
  color: #8FA900;
}

/* line 998, ../../sass/layout/_layout.scss */
.btn-crt {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZjlmOWY5Ii8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #ffffff), color-stop(20%, #f9f9f9), color-stop(51%, #ffffff), color-stop(88%, #ffffff), color-stop(100%, #f9f9f9));
  background-image: -moz-linear-gradient(top, #ffffff 1%, #f9f9f9 20%, #ffffff 51%, #ffffff 88%, #f9f9f9 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 1%, #f9f9f9 20%, #ffffff 51%, #ffffff 88%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #ffffff 1%, #f9f9f9 20%, #ffffff 51%, #ffffff 88%, #f9f9f9 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/*request process*/
/* line 1005, ../../sass/layout/_layout.scss */
.tt-usr {
  font-size: 1.4em;
  font-weight: 500;
}

/*request form*/
/* line 1011, ../../sass/layout/_layout.scss */
.cat-usr {
  min-height: 60px;
  color: #000;
  display: none;
  padding-top: 20px;
  font-size: 36px;
  border-bottom: 1px solid #fff;
  text-align: left;
  margin-bottom: 20px !important;
}

/* line 1022, ../../sass/layout/_layout.scss */
.dynamic-cat-usr {
  min-height: 30px;
  background: #283a85;
  color: #fff;
  font-size: 19px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 2px;
  border-bottom: 1px solid #fff;
  text-align: center;
  width: 100%;
  float: right;
  margin-bottom: 20px !important;
}

/* line 1036, ../../sass/layout/_layout.scss */
.nvs-fna-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #ebebeb;
}
/* line 1043, ../../sass/layout/_layout.scss */
.nvs-fna-container div {
  display: table-cell;
  font-size: 15px;
  border-right: 1px solid #ebebeb;
  background-color: #fefefd;
  text-align: center;
  vertical-align: middle;
  padding: 24px 2px;
  color: #3c67de !important;
}
/* line 1054, ../../sass/layout/_layout.scss */
.nvs-fna-container div a:hover {
  text-decoration: none;
}
/* line 1059, ../../sass/layout/_layout.scss */
.nvs-fna-container div.active {
  border-bottom: 3px solid #3c67de;
}

/* line 1064, ../../sass/layout/_layout.scss */
.nvs-fna {
  width: 100%;
}
/* line 1067, ../../sass/layout/_layout.scss */
.nvs-fna li {
  background-color: #fefefd;
  float: left;
  position: relative;
  width: 10.5%;
  height: 68px;
}
/* line 1074, ../../sass/layout/_layout.scss */
.nvs-fna li a {
  color: #555f72;
  font-weight: 400;
  text-align: center;
  font-size: 0.85em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
/* line 1084, ../../sass/layout/_layout.scss */
.nvs-fna li.active {
  border-bottom: 3px solid #3c67de;
}
/* line 1087, ../../sass/layout/_layout.scss */
.nvs-fna li.active a:hover, .nvs-fna li.active li.active a:focus {
  background-color: #fefefd;
  color: #3c67de;
}
/* line 1093, ../../sass/layout/_layout.scss */
.nvs-fna li.active a {
  background-color: transparent;
  color: #555f72;
}

/* line 1099, ../../sass/layout/_layout.scss */
.nvs-fna > li > a:hover, .nvs-fna > li > a:focus {
  background-color: transparent;
  color: #3c67de;
}

/* line 1104, ../../sass/layout/_layout.scss */
.nvs-fna > li {
  margin: 0;
  border-right: 1px solid #ecf0f5;
}

/* line 1112, ../../sass/layout/_layout.scss */
.cnt-tb ul.disp {
  display: block;
  float: none !important;
}
/* line 1117, ../../sass/layout/_layout.scss */
.cnt-tb .miga {
  padding: 0;
  margin: 0;
}
/* line 1121, ../../sass/layout/_layout.scss */
.cnt-tb .migas {
  padding: 6px 0;
}
/* line 1124, ../../sass/layout/_layout.scss */
.cnt-tb ul {
  border-bottom: 0;
  padding: 14px 0;
  float: none !important;
}
/* line 1129, ../../sass/layout/_layout.scss */
.cnt-tb ul hr {
  margin-top: 12px;
}
/* line 1135, ../../sass/layout/_layout.scss */
.cnt-tb ul li a.btn-blue-download {
  height: 55px !important;
  width: 100% !important;
  min-width: 220px !important;
  max-width: 220px !important;
  border-radius: 8px !important;
  border: none !important;
  margin-bottom: 30px !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #ffffff !important;
  font-size: 17px !important;
  background: #3c67de;
  margin-top: 0;
  display: block;
  background: url("../../Images/download.png") no-repeat 90% 50% #4f78e9;
  padding-right: 15%;
}
/* line 1153, ../../sass/layout/_layout.scss */
.cnt-tb ul li a.btn-blue-download:hover, .cnt-tb ul li a.btn-blue-download:active {
  outline: none !important;
  text-decoration: none !important;
  color: #fff !important;
  background: url("../../Images/download.png") no-repeat 90% 50% #5683ff !important;
}
/* line 1160, ../../sass/layout/_layout.scss */
.cnt-tb ul li a.btn-blue-download:active {
  color: #C3CFF7 !important;
  background: url("../../Images/download.png") no-repeat 90% 50% #4f78e9 !important;
}
/* line 1165, ../../sass/layout/_layout.scss */
.cnt-tb ul li a.btn-blue-download:focus {
  outline: none !important;
  color: #C3CFF7 !important;
  background: url("../../Images/download.png") no-repeat 90% 50% #4f78e9 !important;
}
/* line 1171, ../../sass/layout/_layout.scss */
.cnt-tb ul li a {
  display: block;
  margin: 1em 0;
  text-align: center;
  width: 100%;
  max-width: 220px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: rgba(104, 104, 104, 0.6) !important;
  text-decoration: none;
  font-size: 14px;
}
/* line 1184, ../../sass/layout/_layout.scss */
.cnt-tb ul li a:hover {
  color: #3c67de;
  text-decoration: none;
  background: none !important;
}
/* line 1190, ../../sass/layout/_layout.scss */
.cnt-tb ul li a:focus {
  background: none !important;
}
/* line 1195, ../../sass/layout/_layout.scss */
.cnt-tb ul li.active a {
  text-decoration: none;
  color: #686868 !important;
  font-weight: normal;
}
/* line 1200, ../../sass/layout/_layout.scss */
.cnt-tb ul li.active span {
  font-family: "Source Sans Pro";
  color: #3c67de !important;
  margin: 0px 2px;
  top: 2px;
  position: relative;
  font-size: 25px;
}
/* line 1208, ../../sass/layout/_layout.scss */
.cnt-tb ul li span {
  font-family: "Source Sans Pro";
  color: #686868 !important;
  margin: 0px 2px;
  top: 2px;
  position: relative;
  font-size: 25px;
}
/* line 1217, ../../sass/layout/_layout.scss */
.cnt-tb ul li.previous a {
  text-decoration: none;
  color: #686868 !important;
  font-weight: normal;
}

/*!
 * BootstrapValidator (http://bootstrapvalidator.com)
 * The best jQuery plugin to validate form fields. Designed to use with Bootstrap 3
 *
 * @version     v0.5.2, built on 2014-09-25 4:01:07 PM
 * @author      https://twitter.com/nghuuphuoc
 * @copyright   (c) 2013 - 2014 Nguyen Huu Phuoc
 * @license     MIT
 */
/*request process*/
/* line 1237, ../../sass/layout/_layout.scss */
.inf-app-sim {
  padding: 35px 20px;
}

/* line 1241, ../../sass/layout/_layout.scss */
.ptns {
  position: relative;
  background: #f6f8f9;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 35px 10px 30px 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 1250, ../../sass/layout/_layout.scss */
.ptns .tab-content {
  padding: 20px 0;
}
/* line 1253, ../../sass/layout/_layout.scss */
.ptns .tab-content .bord {
  border-bottom: solid 1px #ccc;
  padding: 7px 0;
}
/* line 1257, ../../sass/layout/_layout.scss */
.ptns .tab-content tr {
  border-bottom: solid 1px #ccc;
  padding: 7px 0;
}

/* line 1263, ../../sass/layout/_layout.scss */
.text-log {
  font-size: 14px;
  padding-right: 12px;
}

/* line 1267, ../../sass/layout/_layout.scss */
.prc-tt2 {
  font-size: 0.75em;
  color: #204593;
}

/* line 1272, ../../sass/layout/_layout.scss */
.p-prc-usr {
  color: #686868;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 40px 0 20px 0;
  padding: 0 5px;
}

/* line 1281, ../../sass/layout/_layout.scss */
.no-btn {
  background: transparent;
  border: none;
}

/*Error msjs */
/* line 1288, ../../sass/layout/_layout.scss */
.navbar-fna {
  border-bottom: solid 1px #fff;
  -moz-box-shadow: gray 0 9px 10px -5px;
  -webkit-box-shadow: gray 0 9px 10px -5px;
  box-shadow: gray 0 9px 10px -5px;
  padding: 16px 10px 10px 10px;
}

/* line 1294, ../../sass/layout/_layout.scss */
.cont-but {
  text-align: center;
  margin-top: 50px;
}

/* line 1299, ../../sass/layout/_layout.scss */
.bg02 {
  /*background: url('../../Images/bg400.png') center center no-repeat;*/
}

/* line 1303, ../../sass/layout/_layout.scss */
.cont-errmsj {
  width: 100%;
  /*background: url('../../Images/grieta.png') center center no-repeat;*/
}

/* line 1308, ../../sass/layout/_layout.scss */
.titerrmsj {
  text-align: center;
  color: #3c67de;
  font-size: 52px;
  padding: 7% 0 0 0;
}
/* line 1314, ../../sass/layout/_layout.scss */
.titerrmsj strong {
  display: block;
  font-size: 2.5em;
}

/* line 1320, ../../sass/layout/_layout.scss */
.msjerr {
  margin-top: 40px;
  color: #003993;
  text-align: center;
  font-size: 2em;
  position: relative;
}
/* line 1327, ../../sass/layout/_layout.scss */
.msjerr .txterr {
  display: block;
  padding-top: 10px;
  font-size: 36px;
  color: #000;
}
/* line 1334, ../../sass/layout/_layout.scss */
.msjerr img {
  position: absolute;
  top: -120px;
  left: 20%;
}

/* line 1341, ../../sass/layout/_layout.scss */
.bot-msjerr {
  min-width: 50%;
  padding: 15px;
  border-radius: 10px !important;
}

/* line 1347, ../../sass/layout/_layout.scss */
.cnt-err-sx {
  margin: auto;
  margin: 70px 0;
}

/* line 1352, ../../sass/layout/_layout.scss */
.inf-mgs {
  padding: 20px 0;
}

/* line 1356, ../../sass/layout/_layout.scss */
.cnt-icn-er {
  width: 90%;
  text-align: center;
}
/* line 1360, ../../sass/layout/_layout.scss */
.cnt-icn-er img {
  width: auto;
  max-width: 350px;
}

/* line 1366, ../../sass/layout/_layout.scss */
.err-msj-tt {
  font-size: 2.5em;
  color: #B8D900;
  margin: 20px 0;
}

/* line 1372, ../../sass/layout/_layout.scss */
.err-msj-desc {
  font-size: 1.5em;
  font-weight: 400;
  margin: 25px 0;
}

/* line 1378, ../../sass/layout/_layout.scss */
.bnt-green-err {
  color: #B8D900;
  font-size: 1.2em;
  border: 1px solid transparent;
  border-bottom-color: #B8D900;
  padding: 10px 25px;
  text-align: center;
  min-width: 190px;
}
/* line 1387, ../../sass/layout/_layout.scss */
.bnt-green-err .lft-ic {
  padding-left: 15px;
}

/* line 1392, ../../sass/layout/_layout.scss */
.bnt-green-err:hover {
  border-color: #B8D900;
  color: #fff;
  background: #B8D900;
}

/* line 1398, ../../sass/layout/_layout.scss */
.mg-rj10 {
  margin-right: 10px;
}

/* line 1402, ../../sass/layout/_layout.scss */
.mg-lf10 {
  margin-left: 10px;
}

/*Kendo modal*/
/* line 1409, ../../sass/layout/_layout.scss */
.md-info {
  width: 100%;
  margin: auto;
}

/* line 1414, ../../sass/layout/_layout.scss */
.k-header {
  background: transparent;
  border: none;
}

/* line 1419, ../../sass/layout/_layout.scss */
div.k-window {
  width: 600px !important;
  padding: 0 !important;
  max-width: 100% !important;
}
/* line 1424, ../../sass/layout/_layout.scss */
div.k-window .k-window-titlebar.k-header {
  margin-top: 0 !important;
  z-index: 1004;
}
/* line 1429, ../../sass/layout/_layout.scss */
div.k-window div.k-window-content {
  padding: 0;
}

/* line 1434, ../../sass/layout/_layout.scss */
.frm-modal {
  width: 90%;
  margin: 0 auto;
}
/* line 1438, ../../sass/layout/_layout.scss */
.frm-modal .inputGrl {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 1443, ../../sass/layout/_layout.scss */
.frm-modal label {
  font-weight: normal;
  font-size: 18px;
}

/*jnk-grid*/
/* line 1452, ../../sass/layout/_layout.scss */
.dv-5 {
  width: 48%;
  display: inline-block;
  padding: 0 10px;
}

/*jnk-grid*/
/*required documents modal*/
/* line 1465, ../../sass/layout/_layout.scss */
.head-mod-rq {
  text-align: center;
}
/* line 1469, ../../sass/layout/_layout.scss */
.head-mod-rq h3 {
  font-size: 36px;
  color: #283a85;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 1476, ../../sass/layout/_layout.scss */
.req-docs-tabs {
  border-right: 2px solid #B8D900;
}
/* line 1479, ../../sass/layout/_layout.scss */
.req-docs-tabs > li {
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
}
/* line 1483, ../../sass/layout/_layout.scss */
.req-docs-tabs > li a {
  font-size: 1.1em;
  line-height: 1.2em;
  color: #333;
  padding: 10px;
}
/* line 1491, ../../sass/layout/_layout.scss */
.req-docs-tabs > li.active {
  border-bottom: 1px solid #B8D900;
}

/* line 1496, ../../sass/layout/_layout.scss */
.req-docs-tabs > li.active > a, .req-docs-tabs > li.active > a:hover, .req-docs-tabs > li.active > a:focus {
  background: transparent;
  color: #B8D900;
  font-size: 1.1em;
  line-height: 1.2em;
  padding: 10px;
}

/* line 1509, ../../sass/layout/_layout.scss */
.ic-fasm {
  margin: 0 10px;
}

/* line 1514, ../../sass/layout/_layout.scss */
#htmlfields {
  width: 100%;
}
/* line 1517, ../../sass/layout/_layout.scss */
#htmlfields div {
  margin-bottom: 5px;
}
/* line 1520, ../../sass/layout/_layout.scss */
#htmlfields label {
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5e5b68;
  font-size: 20px !important;
  line-height: 1em;
}
/* line 1527, ../../sass/layout/_layout.scss */
#htmlfields label span {
  float: right;
  position: relative;
}
/* line 1532, ../../sass/layout/_layout.scss */
#htmlfields div.labelfield {
  text-align: right;
}
/* line 1535, ../../sass/layout/_layout.scss */
#htmlfields div.labelfield label {
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5e5b68;
  font-size: 20px;
  line-height: 1em;
}
/* line 1542, ../../sass/layout/_layout.scss */
#htmlfields div.labelfield label span {
  float: right;
  position: relative;
}
/* line 1549, ../../sass/layout/_layout.scss */
#htmlfields div.controlfield {
  float: left;
  width: 100%;
}
/* line 1553, ../../sass/layout/_layout.scss */
#htmlfields div.controlfield label, #htmlfields div.controlfield div > label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

/*Consultant side bar*/
/* line 1563, ../../sass/layout/_layout.scss */
.items-sidebar {
  position: relative;
  text-align: left;
}

/* line 1580, ../../sass/layout/_layout.scss */
.items-sidebar li a:hover, .items-sidebar li a.menuactiver:hover {
  background: #B8D900;
  color: #fff;
  text-align: right;
  text-decoration: none;
}

/*Consultant Content*/
/* line 1589, ../../sass/layout/_layout.scss */
.mgtop-20 {
  margin-top: 20px;
}

/* line 1593, ../../sass/layout/_layout.scss */
.pdtop-50 {
  padding-top: 40px;
}

/* line 1597, ../../sass/layout/_layout.scss */
.grl-labs {
  font-weight: normal;
  width: 100%;
}

/* line 1602, ../../sass/layout/_layout.scss */
.drp-adv {
  border: 2px solid #b8d900;
  color: #333;
  display: block;
  padding: 10px;
  position: relative;
  width: 100%;
}

/* line 1612, ../../sass/layout/_layout.scss */
.bnt-req-ad {
  background-color: #003886;
  border-radius: 0;
  color: #fff;
  margin-top: 30px;
  min-width: 200px;
}

/* line 1620, ../../sass/layout/_layout.scss */
.bnt-req-ad:hover {
  background-color: #0D52B3;
  color: #fff;
}

/* line 1626, ../../sass/layout/_layout.scss */
.alert-danger {
  border: 1px solid #b00000;
  color: #b00000;
  width: 100%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  position: relative;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
}
/* line 1640, ../../sass/layout/_layout.scss */
.alert-danger p {
  margin: 0;
  line-height: 1.3em;
  padding: 10px 20px;
  display: table-cell;
  width: 80%;
  vertical-align: middle;
  background: #fff;
}
/* line 1650, ../../sass/layout/_layout.scss */
.alert-danger span {
  margin: 0;
  width: 16%;
  max-width: 90px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: #efd9d7;
}

/*Consultant sidebar*/
/* line 1664, ../../sass/layout/_layout.scss */
.sidebar-wrapper {
  min-height: 500px;
  border-right: 1px solid #c7c7cb;
  padding-right: 0;
}
/* line 1669, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li {
  list-style: none;
  display: inline-block;
  border-bottom: 1px solid #c7c7cb;
  width: 100%;
  text-align: right;
  margin: auto;
  height: 50px;
  padding: 10px;
}
/* line 1679, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li i {
  display: none;
}
/* line 1683, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li a {
  color: #000;
  text-decoration: none;
}
/* line 1688, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li a:hover, .sidebar-wrapper .sidebar-nav li a:focus {
  outline: none;
}
/* line 1693, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li:hover {
  background: #0f2891;
}
/* line 1696, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li:hover a {
  color: #fff;
}
/* line 1701, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li.active {
  background: #1531aa;
}
/* line 1704, ../../sass/layout/_layout.scss */
.sidebar-wrapper .sidebar-nav li.active a {
  color: #fff;
}

/*Kendo grid*/
/* line 1721, ../../sass/layout/_layout.scss */
.k-pager-info {
  font-size: 12px;
}

/* line 1725, ../../sass/layout/_layout.scss */
.k-grid-header .k-header, .k-grid-header .k-header .k-link, .k-grid-header .k-link, .k-grid-header .k-link:link {
  background-color: #fff !important;
}

/* line 1729, ../../sass/layout/_layout.scss */
.k-grid-header th.k-header {
  vertical-align: middle;
  text-align: center;
  color: #283a85;
  padding: 1.5em 1em;
  font-size: 1em;
}

/* line 1737, ../../sass/layout/_layout.scss */
.k-grid-header th.k-header > .k-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  color: #283a85;
}

/* line 1745, ../../sass/layout/_layout.scss */
.k-grid {
  border: 0;
  border-style: hidden;
}
/* line 1750, ../../sass/layout/_layout.scss */
.k-grid th, .k-grid td {
  line-height: 1.42857143;
  vertical-align: top;
  border: 0 !important;
  border-top: 1px solid #ddd;
}

/* line 1758, ../../sass/layout/_layout.scss */
div.k-pager-wrap.k-grid-pager.k-widget > a, .k-link {
  padding: 0;
}

/* line 1762, ../../sass/layout/_layout.scss */
div.k-pager-wrap.k-grid-pager {
  border: 0;
  border-bottom: 2px solid #0e0e0e;
  background-color: transparent;
}

/* line 1768, ../../sass/layout/_layout.scss */
div.k-grid-content {
  overflow: hidden;
}

/* line 1772, ../../sass/layout/_layout.scss */
.k-grid-header {
  background-color: transparent;
}

/* line 1776, ../../sass/layout/_layout.scss */
div.k-grid-header {
  padding-right: 0 !important;
}
/* line 1780, ../../sass/layout/_layout.scss */
div.k-grid-header .k-grid-header-wrap {
  border: 0;
  border-top: 2px solid #0e0e0e;
}
/* line 1785, ../../sass/layout/_layout.scss */
div.k-grid-header table {
  border: 0;
}
/* line 1788, ../../sass/layout/_layout.scss */
div.k-grid-header table thead {
  border: 0;
}
/* line 1792, ../../sass/layout/_layout.scss */
div.k-grid-header table th {
  border: 0;
  background-color: transparent;
  font-size: 1em;
  color: #283a85;
  padding: 1.5em 1em;
}

/*Kendo grid*/
/*Kendo buttons*/
/* line 1806, ../../sass/layout/_layout.scss */
.k-button {
  margin-bottom: 0 !important;
  padding-top: 15px;
}

/* line 1813, ../../sass/layout/_layout.scss */
.k-button:hover, .k-button:focus, .k-state-focused,
.k-button:focus:not(.k-state-disabled):not([disabled]),
.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1824, ../../sass/layout/_layout.scss */
.k-widget .k-button:active,
.k-widget .k-button.k-state-active,
.k-widget .k-button:active:hover,
.k-widget .k-button.k-state-active:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1835, ../../sass/layout/_layout.scss */
div.cnt-btns-ppc > div {
  margin: auto;
  position: relative;
  padding-left: 0;
}

/* line 1843, ../../sass/layout/_layout.scss */
.select2-results ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* line 1847, ../../sass/layout/_layout.scss */
.select2-results ::-webkit-scrollbar-button {
  background: rgba(60, 103, 222, 0.5);
}
/* line 1851, ../../sass/layout/_layout.scss */
.select2-results ::-webkit-scrollbar-track {
  background: green;
}
/* line 1854, ../../sass/layout/_layout.scss */
.select2-results ::-webkit-scrollbar-track-piece {
  background: #f6f8f9;
}
/* line 1857, ../../sass/layout/_layout.scss */
.select2-results ::-webkit-scrollbar-thumb {
  background: #3c67de;
}
/* line 1860, ../../sass/layout/_layout.scss */
.select2-results ::-webkit-scrollbar-corner {
  background: #B8D900;
}
/* line 1863, ../../sass/layout/_layout.scss */
.select2-results ::-webkit-resizer {
  background: #5683ff;
}

/* line 1867, ../../sass/layout/_layout.scss */
.k-widget.k-tooltip {
  border-color: #fff;
  background-color: #3c67de;
  border-radius: 10px;
  color: #fff;
}

/* line 1873, ../../sass/layout/_layout.scss */
.k-tooltip-content {
  height: 100%;
  font-size: 14px;
  padding: 6px 0;
}
/* line 1878, ../../sass/layout/_layout.scss */
.k-tooltip-content p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  /*Header*/
  /* line 23, ../../sass/general/_responsive.scss */
  .navbar {
    margin-bottom: 20px;
    display: block;
  }

  /* line 28, ../../sass/general/_responsive.scss */
  .navbar-nav {
    float: none;
  }

  /* line 32, ../../sass/general/_responsive.scss */
  .navbar-header {
    float: none;
  }

  /* line 36, ../../sass/general/_responsive.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 40, ../../sass/general/_responsive.scss */
  .brand-fna {
    height: 55px;
  }
  /* line 43, ../../sass/general/_responsive.scss */
  .brand-fna img {
    height: 55px;
  }

  /* line 48, ../../sass/general/_responsive.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  /* line 55, ../../sass/general/_responsive.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 62, ../../sass/general/_responsive.scss */
  .cnt-tb ul li {
    display: inline-block;
    float: left;
  }

  /* line 69, ../../sass/general/_responsive.scss */
  .lab-frm {
    text-align: left;
  }

  /*Consultant sidebar*/
  /* line 76, ../../sass/general/_responsive.scss */
  .sidebar-wrapper .sidebar-nav li {
    font-size: .7em;
  }

  /* line 80, ../../sass/general/_responsive.scss */
  .upper-data:before {
    left: 0;
    bottom: 10%;
  }

  /* line 84, ../../sass/general/_responsive.scss */
  .txt-rj {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  /* line 91, ../../sass/general/_responsive.scss */
  .tab-simulator-house {
    width: 100%;
    display: block;
  }

  /* line 96, ../../sass/general/_responsive.scss */
  .btn-next {
    min-width: 220px;
    /*margin-top: 22px;*/
  }

  /* line 101, ../../sass/general/_responsive.scss */
  .cat-usr {
    display: block;
  }

  /* line 105, ../../sass/general/_responsive.scss */
  .dynamic-cat-usr {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 114, ../../sass/general/_responsive.scss */
  .acc-cnt .form-login {
    width: 100%;
  }

  /* line 120, ../../sass/general/_responsive.scss */
  .cnt-tb {
    display: none;
  }

  /* line 124, ../../sass/general/_responsive.scss */
  .nvs-fna-container div.active {
    background-color: #3c67de;
  }
  /* line 129, ../../sass/general/_responsive.scss */
  .nvs-fna-container div.active a {
    background-repeat: no-repeat;
    background-position: center -35px !important;
    background-size: 30px !important;
  }

  /* line 138, ../../sass/general/_responsive.scss */
  .nvs-fna-container div {
    height: 50px;
  }
  /* line 139, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a {
    background-repeat: no-repeat;
    background-position: 46% 20px !important;
    background-size: 39px 110px !important;
    padding: 2em;
    text-align: center;
    margin-bottom: 0;
  }
  /* line 151, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a span {
    display: none;
  }

  /* line 159, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="5"] {
    background: url("../../Images/nav-ics/ic-01.png") center -25% no-repeat;
  }

  /* line 163, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="6"] {
    background: url("../../Images/nav-ics/ic-02.png") center -25% no-repeat;
  }

  /* line 167, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="7"] {
    background: url("../../Images/nav-ics/ic-03.png") center -25% no-repeat;
  }

  /* line 171, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="8"] {
    background: url("../../Images/nav-ics/ic-04.png") center -25% no-repeat;
  }

  /* line 175, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="9"] {
    background: url("../../Images/nav-ics/ic-09.png") center -25% no-repeat;
  }

  /* line 179, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="10"] {
    background: url("../../Images/nav-ics/ic-05.png") center -25% no-repeat;
  }

  /* line 183, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="11"] {
    background: url("../../Images/nav-ics/ic-06.png") center -25% no-repeat;
  }

  /* line 187, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="12"] {
    background: url("../../Images/nav-ics/ic-07.png") center -25% no-repeat;
  }

  /* line 191, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="13"] {
    background: url("../../Images/nav-ics/ic-08.png") center -25% no-repeat;
  }

  /* line 195, ../../sass/general/_responsive.scss */
  .nvs-fna-container div a[data-order="14"] {
    background: url("../../Images/nav-ics/ic-09.png") center -25% no-repeat;
  }

  /* line 199, ../../sass/general/_responsive.scss */
  .tab-simulator-house {
    width: 30%;
    border-top: 3px solid #333333;
    border-bottom: 3px solid #333333;
    min-width: 400px;
  }
  /* line 205, ../../sass/general/_responsive.scss */
  .tab-simulator-house thead, .tab-simulator-house tbody {
    float: left;
    border: none !important;
    width: 48%;
  }
  /* line 211, ../../sass/general/_responsive.scss */
  .tab-simulator-house tr {
    border: none !important;
  }
  /* line 215, ../../sass/general/_responsive.scss */
  .tab-simulator-house th, .tab-simulator-house td {
    display: block !important;
    font-size: 16px;
    padding: 15px 30px 20px 5px !important;
    position: relative;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }

  /* line 226, ../../sass/general/_responsive.scss */
  .bluebar {
    font-size: .7em !important;
  }

  /*Consultant sidebar*/
  /* line 231, ../../sass/general/_responsive.scss */
  .sidebar-wrapper {
    right: 0;
    width: 100%;
    height: auto;
    min-height: initial;
    border: none;
    table-layout: fixed;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 0;
  }
  /* line 242, ../../sass/general/_responsive.scss */
  .sidebar-wrapper .sidebar-nav {
    padding-left: 0;
  }
  /* line 246, ../../sass/general/_responsive.scss */
  .sidebar-wrapper .sidebar-nav li {
    display: table-cell;
    text-align: center;
    width: auto;
    float: left;
    position: relative;
    border: 0;
  }
  /* line 254, ../../sass/general/_responsive.scss */
  .sidebar-wrapper .sidebar-nav li i {
    display: none;
  }
  /* line 258, ../../sass/general/_responsive.scss */
  .sidebar-wrapper .sidebar-nav li span {
    display: block;
  }

  /* line 264, ../../sass/general/_responsive.scss */
  .page-content-wrapper {
    width: 100%;
  }

  /* line 267, ../../sass/general/_responsive.scss */
  .upper-data:before {
    left: 0;
    bottom: 10%;
  }

  /* line 271, ../../sass/general/_responsive.scss */
  h2 {
    font-size: 42px;
  }

  /* line 275, ../../sass/general/_responsive.scss */
  .txt-rj {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  /* line 281, ../../sass/general/_responsive.scss */
  .cat-field-usr-sim {
    display: none;
  }

  /* line 285, ../../sass/general/_responsive.scss */
  .lab-frm {
    width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  /* line 292, ../../sass/general/_responsive.scss */
  .acc-cnt .form-login {
    width: 100%;
  }

  /* line 297, ../../sass/general/_responsive.scss */
  .k-list-container {
    min-width: 100px !important;
    width: auto !important;
  }

  /* line 302, ../../sass/general/_responsive.scss */
  .k-list {
    width: auto !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all {
  /* line 308, ../../sass/general/_responsive.scss */
  .k-icon:not(.k-loading) {
    background-image: none;
  }
}
